In [7]:
import numpy as np
import pandas as pd

In [14]:
labels = ['a','b','c']

mylist = [10,20,30]

arr = np.array([10,20,30])

d = {'a':10,'b':20,'c':30}

In [18]:
pd.Series(data=mylist) # If Index is not provided, by default it will start from 0.

0    10
1    20
2    30
dtype: int64

In [19]:
pd.Series(data=mylist,index=labels) # Here, index is specified as labels

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(mylist,labels) # Same as above

a    10
b    20
c    30
dtype: int64

In [24]:
pd.Series(data=arr,index=labels) # Notice dtype is int32

a    10
b    20
c    30
dtype: int32

In [25]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [26]:
salesQ1 = pd.Series(data=[250,450,200,150], index=['USA', 'China', 'India', 'Brazil'])

In [27]:
salesQ1

USA       250
China     450
India     200
Brazil    150
dtype: int64

In [28]:
salesQ2 = pd.Series(data=[260,500,210,100], index=['USA', 'China', 'India', 'Japan'])

In [29]:
salesQ2

USA      260
China    500
India    210
Japan    100
dtype: int64

In [30]:
salesQ2['China']

500

In [31]:
salesQ2[0]

260

In [32]:
salesQ2[1]

500

In [34]:
salesQ1 + salesQ2 # Here, it shows Brazil and Japan were there only one of the stores.

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64