In [41]:
import numpy as np
import pandas as pd

In [42]:
columns_1 = ['W','X','Y','Z']

In [43]:
index_1 = ['A','B','C','D','E']

In [44]:
from numpy.random import randint

In [45]:
np.random.seed(42)
data_1 = randint(-100,100,(5,4))
data_1

array([[  2,  79,  -8, -86],
       [  6, -29,  88, -80],
       [  2,  21, -26, -13],
       [ 16,  -1,   3,  51],
       [ 30,  49, -48, -99]])

In [46]:
'''
df = pd.DataFrame(data_1,index_1,columns_1)
or
'''
df = pd.DataFrame(data=data_1, index=index_1, columns=columns_1)
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [47]:
df['W']

A     2
B     6
C     2
D    16
E    30
Name: W, dtype: int32

In [48]:
df[['W','Z']]

    W   Z
A   2 -86
B   6 -80
C   2 -13
D  16  51
E  30 -99

In [49]:
type(df['W'])

pandas.core.series.Series

In [50]:
type(df)

pandas.core.frame.DataFrame

In [51]:
df['new'] = df['W'] + df['Y']

In [52]:
df['new']

A    -6
B    94
C   -24
D    19
E   -18
Name: new, dtype: int32

In [53]:
df

    W   X   Y   Z  new
A   2  79  -8 -86   -6
B   6 -29  88 -80   94
C   2  21 -26 -13  -24
D  16  -1   3  51   19
E  30  49 -48 -99  -18

In [54]:
# Removing a column from output
df.drop('new',axis=1)

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [55]:
df

    W   X   Y   Z  new
A   2  79  -8 -86   -6
B   6 -29  88 -80   94
C   2  21 -26 -13  -24
D  16  -1   3  51   19
E  30  49 -48 -99  -18

In [56]:
# Removing a column permanently
df = df.drop('new',axis=1)
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [57]:
# U get an error when you try to choose a row, anything in axis=0
df['A']

<class 'KeyError'>: 'A'

In [58]:
# U get the output when u choose the column, anything in axis=1
df['Y']

A    -8
B    88
C   -26
D     3
E   -48
Name: Y, dtype: int32

In [59]:
# U get the output when u use .loc[] to choose a row, anything in axis=0
df.loc['A']

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int32

In [60]:
df.loc[['A','C']]

   W   X   Y   Z
A  2  79  -8 -86
C  2  21 -26 -13

In [61]:
# Fetching index-based location, we can use slicing too
df.iloc[0]

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int32

In [62]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [63]:
df.iloc[-1]

W    30
X    49
Y   -48
Z   -99
Name: E, dtype: int32

In [64]:
df.iloc[0:3]

   W   X   Y   Z
A  2  79  -8 -86
B  6 -29  88 -80
C  2  21 -26 -13

In [65]:
df.drop('C')

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
D  16  -1   3  51
E  30  49 -48 -99

In [66]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [71]:
df.loc[['A'],['W']]

   W
A  2

In [72]:
df.loc[['A','C'],'W']

A    2
C    2
Name: W, dtype: int32

In [73]:
df.loc[['A','C'],['W','Y']]

   W   Y
A  2  -8
C  2 -26

In [74]:
df > 0

      W      X      Y      Z
A  True   True  False  False
B  True  False   True  False
C  True   True  False  False
D  True  False   True   True
E  True   True  False  False

In [75]:
df [df > 0]

    W     X     Y     Z
A   2  79.0   NaN   NaN
B   6   NaN  88.0   NaN
C   2  21.0   NaN   NaN
D  16   NaN   3.0  51.0
E  30  49.0   NaN   NaN

In [76]:
# NOTE: NaN means Not a Number

In [77]:
df['X'] > 0

A     True
B    False
C     True
D    False
E     True
Name: X, dtype: bool

In [78]:
df [df['X'] > 0]

    W   X   Y   Z
A   2  79  -8 -86
C   2  21 -26 -13
E  30  49 -48 -99

In [86]:
# Displays only column X where X > 0
df [df['X'] > 0]['X']

A    79
C    21
E    49
Name: X, dtype: int32

In [85]:
# Displays only column W where X > 0
df[df['X'] > 0]['W']

A     2
C     2
E    30
Name: W, dtype: int32

In [87]:
df[(df['W'] > 0) & (df['Y'] > 1)]

    W   X   Y   Z
B   6 -29  88 -80
D  16  -1   3  51

In [88]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [89]:
df.reset_index()

  index   W   X   Y   Z
0     A   2  79  -8 -86
1     B   6 -29  88 -80
2     C   2  21 -26 -13
3     D  16  -1   3  51
4     E  30  49 -48 -99

In [90]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [92]:
new_ind = ['CA', 'NY', 'WY', 'OR', 'CO']

In [93]:
df['States'] = new_ind

In [94]:
df['States']

A    CA
B    NY
C    WY
D    OR
E    CO
Name: States, dtype: object

In [95]:
df

    W   X   Y   Z States
A   2  79  -8 -86     CA
B   6 -29  88 -80     NY
C   2  21 -26 -13     WY
D  16  -1   3  51     OR
E  30  49 -48 -99     CO

In [101]:
# Now, lets say we want the States column to be our index

In [99]:
df_1 = df.set_index(['States'])

In [100]:
df_1

         W   X   Y   Z
States
CA       2  79  -8 -86
NY       6 -29  88 -80
WY       2  21 -26 -13
OR      16  -1   3  51
CO      30  49 -48 -99

In [102]:
# NOTE: df .columns

In [103]:
df_1.describe()

              W          X          Y          Z
count   5.00000   5.000000   5.000000   5.000000
mean   11.20000  23.800000   1.800000 -45.400000
std    11.96662  42.109381  51.915316  63.366395
min     2.00000 -29.000000 -48.000000 -99.000000
25%     2.00000  -1.000000 -26.000000 -86.000000
50%     6.00000  21.000000  -8.000000 -80.000000
75%    16.00000  49.000000   3.000000 -13.000000
max    30.00000  79.000000  88.000000  51.000000

In [104]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, CA to CO
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      int32
 1   X       5 non-null      int32
 2   Y       5 non-null      int32
 3   Z       5 non-null      int32
dtypes: int32(4)
memory usage: 100.0+ bytes

In [105]:
df.dtypes

W          int32
X          int32
Y          int32
Z          int32
States    object
dtype: object